<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Mes todos</h1>
    <a href="/ajouter">Ajouter une tache</a>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>deadline</th>
                <th>priorité</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Faire le commit</td>
                <td>27/05/2026 à 13h</td>
                <td>Haute</td>
                <td><a href="/modifier/">Modifier</a>
                    <a href="/modifier/">Supprimer</a>
                </td>
            </tr>
        </tbody>

    </table>

</body>

</html>